.CatalogLayout {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 131px);
    align-items: center;
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.SearchAndFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 240px;
    margin: 20px 10px 20px;
}

.SearchInput {
    box-sizing: border-box;
    width: 100%;
    padding-left: 9px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 18px;
}

.SearchInput:hover,
.SearchInput:focus {
    border: 1px solid #1677ff;
    outline: 0;
}

.Filters {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    min-height: 18px;
}

.FilterCard {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    height: 90px;
    align-items: center;
    margin: 0px 5px 0px;
}

p{
    margin: 0;
}

.CardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
}

.CardsContainer .card {
    position: relative;
    margin: 30px;
    min-width: 550px;
    height: 450px;
    background: #e5e5e7;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


.CardsContainer .card .content {
    padding: 20px;
    text-align: left;
    max-width: 485px;
    max-height: 400px;
}

.CardsContainer .card .content .about-course {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.CardsContainer .card .content img {
    top: 20px;
    left: 15px;
    position: absolute;
    width: 60px;
    height: 50px;
}

.CardsContainer .card .description {
    position: absolute;
    top: 80px;
    word-break: break-word;
    left: 15px;
    max-width: 485px;
    font-size: 5rem;
    margin: 0;
}

.CardsContainer .card .content h3 {
    word-break: break-word;
    position: absolute;
    top: 0px;
    left: 90px;
    font-size: 1.4rem;
    color: #0a4ca8;
    transition: 0.5s;
    max-width: 400px;
}

.CardsContainer .card .content p {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
}

.CardsContainer .card .content a {
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-right: 10px;
    transition: 0.5s;
    background: #858484;
}

.CardsContainer .card .content .enter{
    background: #1677ff;
}

.CardsContainer .card .content a:hover {
    background: #ffffff;
    color: #000;
}

