.TaskLayout {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 133px);
    font-size: 20px;
}

.Tasks {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.task {
    margin: 20px;
    min-width: 900px;
    min-height: 150px;
    background: #f3f3f5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
}

.task .content {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.task .content .NamingOfQuestion {
    min-width: 80%;
    min-height: 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.task .description {
    word-break: break-word;
    min-width: 100%;
    font-size: 5rem;
    margin: 0;
}

.task .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
}

.task .content .NamingOfQuestion h3 {
    word-break: break-word;
    font-size: 1.4rem;
    color: #0a4ca8;
    transition: 0.5s;
    margin: 0;
}

.inputLayout {
    position: relative;
    width: 300px;
    align-self: flex-start;
    margin-top: 20px;
}

.inputLayout input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background: #f3f3f5;
    border-radius: 5px;
    outline: none;
    color: #000;
    font-size: 1em;
    height: 50px;
}

.inputLayout input:valid,
.inputLayout input:focus {
    border: 1px solid #0a4ca8;
}

.Submit-Test {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    user-select: none;
    transition: 0.5s;
    will-change: '';
    font-weight: 700;
    font-size: 20px;
}

.Submit-Test:focus, .Submit-Test:active,
.Submit-Test:hover {
    background: #1677ff;
    color: #e0e1e2;
}